<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cjd.dao.ReqDao">
    <select id="select" resultType="com.cjd.domain.Req">select * from REQ_INFO;</select>

    <insert id="insert">insert into REQ_INFO(req_id,req_status,req_time) value(#{reqId},#{reqStatus},#{reqTime});</insert>

    <update id="update">update REQ_INFO set req_status = #{reqStatus},req_time = #{reqTime} where  No = #{reqId}</update>

</mapper>

